<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block css %}
    {% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>

<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <h1>Управление хранением</h1>
  </header>
    {% block content %}
    {% endblock content %}
  <footer class="pt-5 my-5 text-body-secondary border-top">
    15/05/2023
  </footer>
</div>


  </body>
</html>
